.imoveis-destaques
{
    padding-top: 50px;
    margin-bottom: 70px;
}

.imoveis-destaques hr
{
    width: 7%;
    border-top: 3px solid #0a2444;
}

.imoveis-destaques .container
{
    margin-top: 30px;
    height: 535px;
}

.imoveis-destaques .imovel-unico figcaption .row,
.imoveis-destaques .imovel-dividido figcaption .row
{
    background-color: rgba(27, 55, 77, 0.82);
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.imoveis-destaques .imovel-unico figcaption
{
    margin-top: -85px;
}

.imoveis-destaques .imovel-unico figcaption h4,
.imoveis-destaques .imovel-dividido figcaption h4
{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.imoveis-destaques .imovel-unico img
{
    height: 535px;
    width: 110%;
    margin-left: -40px;
}

.imoveis-destaques .imovel-unico a,
.imoveis-destaques .imovel-dividido a
{
    color: #fff;
}

.imoveis-destaques .imovel-unico,
.imoveis-destaques .imovel-dividido
{
    overflow: hidden;
    color: #fff;
    font-style: italic;
}

.imoveis-destaques .imovel-dividido img
{
    margin-bottom: 30px;
}

.imoveis-destaques .imovel-dividido img
{
    height: 300px;
    width: 110%;
}

.imoveis-destaques .imovel-dividido figcaption
{
    margin-top: -150px;
}

.imoveis-destaques .imovel-dividido
{
    height: 265px;
    padding-left: 10px;
    padding-right: 0px;
    margin-bottom: 5px;
}

.imovel-dividido .img-imovel
{
    height: 100%;
    background-position: center;
    background-size: cover;
}

.imovel-dividido .legenda-imovel,
.imovel-unico .legenda-imovel
{
    background-color: rgba(27, 55, 77, 0.82);
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.imovel-dividido .legenda-imovel
{
    margin-top: 180px;
}

.imovel-unico .img-imovel
{
    height: 535px;
    width: 110%;
    background-position: center center;
    background-size: cover;
}

.imovel-unico .legenda-imovel
{
    margin-top: 450px;
}

.owl-destaques-mobile .imovel-unico .img-imovel
{
    height: 400px;
    padding-top: 255px;
}

.owl-destaques-mobile .imovel-unico .legenda-imovel
{
    margin-top: 60px;
}
