.filtro-imovel .form-filtro div.slider.slider-horizontal
{
    margin-left: 10px;
    width: 96%;
}

.filtro-imovel .form-filtro .col-md-4
{
    margin-bottom: 10px;
}

.filtro-imovel > .container > .col-md-3 > h2
{
    padding-top: 40px;
}