.menu-imovel ul li a,
.menu-superior .container a
{
    text-decoration: none;
}
.menu-superior
{
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #f8f8f8;
}

.menu-superior .container a
{
    margin-left: 14px;
    font-size: 10px;
}

.menu-imovel
{
    background: linear-gradient(90deg, #174f7b 80%, #0d709c 20%);
}

.menu-imovel div
{
    height: 80px;
}

.menu-imovel div:not(:last-child),
.menu-imovel div:nth-child(4) div.col-xs-6
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-imovel div:nth-child(4)
{
    background-color: #0d709c;
    -webkit-transform: skew(-20deg); /* Chrome, Opera */
    -ms-transform: skew(-20deg); /* IE */
    transform: skew(-20deg); /* Padrão */
}

.menu-imovel div:nth-child(4) h1
{
    padding-top: -14px;
    margin-top: 10px;
}

.menu-imovel div:nth-child(4) h1,
.menu-imovel div:nth-child(4) span
{
    color: #fff;
    font-weight: 700;
}

.menu-imovel div:nth-child(4) span
{
    font-size: 21px;
    font-weight: 700;
}

.menu-imovel div:nth-child(4) span small
{
    font-size: 12px;
}

/* MENU CATEGORIAS */
.menu-imovel div:nth-child(2) ul
{
    padding-top: 17px;
}

.menu-imovel div:nth-child(2) ul li
{
    display: inline;
    font-size: 15px;
    font-style: italic;
    margin-right: 20px;
}
.menu-imovel div:nth-child(2) ul li a
{
    color: #fff;
}

/* CAMPO BUSCA IMÓVEL PELO CÓDIGO */
.menu-imovel div:nth-child(3) .input-group .form-control
{
    margin-top: 13px;
    font-size: 12px;
    font-style: italic;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.menu-imovel div:nth-child(3) .input-group span button.btn
{
    margin-top: -19px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu-imovel div:nth-child(3) .input-group span button.btn span.glyphicon
{
    color: #174f7b
}

@media screen and (min-width: 1610px) {
    .menu-imovel
    {
        background: linear-gradient(90deg, #174f7b 70%, #0d709c 30%);
    }
}