.condominios
{
    margin-top: 30px;
}

.condominio img
{
    width: 100%;
    height: 300px;
}

.condominio figcaption
{
    background-color: rgba(27, 55, 77, 0.82);
    margin-top: -40px;
    height: 40px;
    position: relative;
    margin-bottom: 25px;
    color: #fff;
}