body
{
    font-family: 'Open Sans', sans-serif;
}

.form-control,
button.btn
{
    border-radius: 0px;
    font-style: italic;
}

button.btn-info
{
    background-color: #174f7b;
    border: none;
}

.light-theme a, .light-theme span {
    border-radius: 0px;
    border-bottom: 0px;
    border-top: 0px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.2);
    background: transparent;
}

.no-margin-top
{
    margin-top: 0px;
}

.banner-principal
{
    height: 500px;
    background-image: url(http://www.jrimoveis-rm.web1617.kinghost.net/assets/images/jrimoveis/banners/0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}