.tabs-style-linetriangle nav li.tab-current a:after
{
    border-top-color: #fff;
}

.tabs-style-linetriangle nav a span
{
    padding-bottom: 10px;
}

section > div.tabs.tabs-style-linetriangle > nav img
{
    height: 55px;
}

.tabs nav a
{
    line-height: 1.5;
}

.tabs nav a small
{
    font-size: 13px;
    font-style: italic;
}

.content-wrap #section-fotos img
{
    margin-bottom: 25px;
}

.imovel-midias h4,
.imovel-descricao h4,
.imovel-descricao small,
.imovel-descricao ul li span
{
    color: #636262;
    font-style: italic;
    font-weight: 600;
}

.imovel-descricao small
{
    margin-top: 13px;
    font-size: 13px;
}

.imovel-descricao ul li:not(:last-child)
{
    border-right: 1px solid #e0e0e0;
}

.imovel-descricao ul
{
    margin-top: 20px;
    margin-bottom: 25px;
}

.imovel-descricao ul li
{
    margin-right: 8px;
    padding-right: 8px;
    width: 17%;
}

.imovel-descricao ul li span
{
    font-size: 18px;
}

.imovel-descricao ul li small
{
    font-size: 10px;
}

.imovel-descricao .imovel-valor
{
    padding-left: 0;
    padding-right: 0;
}

.imovel-descricao .imovel-valor h1
{
    font-weight: 700;
    font-style: italic;
}

.imovel-descricao .imovel-valor small
{
    float: left;
    font-size: 16px;
    padding-right: 5px;
}

.imovel-descricao .imovel-valor button.btn
{
    margin-top: 15px;
    border-radius: 0px;
    background-color: #093c5f;
    border: none;
    font-style: italic;
    height: 45px;
    width: 100%;;
}

.imovel-descricao .imovel-complementos h4
{
    margin-top: 100px;
}

.imovel-descricao .imovel-complementos span
{
    margin-right: 5px;
    border: solid 1px #ccc;
    padding: 0px 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-style: italic;
    font-size: 13px;
}

#imagens-principais-carousel
{
    background-color: #174f7b;
}

#imagens-principais-carousel.owl-carousel .owl-item.active.center
{
    opacity: 1;
}

.owl-carousel .owl-item .item
{
    max-height: 550px;
}

#imagens-principais-carousel .owl-carousel .owl-item .item img
{
    height: 550px;
}

#imagens-principais-carousel.owl-carousel .owl-item
{
    opacity: 0.3;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

/*#imagens-principais-carousel.owl-carousel .owl-item,
#imagens-principais-carousel.owl-carousel .owl-item img
{
    height: 700px;
}*/

.owl-carousel-navigation a:hover
{
    cursor: pointer;
}

.owl-carousel-navigation .prev,
.owl-carousel-navigation .next
{
    margin-top: -365px;
    z-index: 2;
    position: absolute;
}

.owl-carousel-navigation a.prev
{
    left: 0;
    margin-left: 210px;
}

.owl-carousel-navigation a.next
{
    right: 0;
    margin-right: 210px;
}

.owl-carousel-navigation a.prev img,
.owl-carousel-navigation a.next img
{
    height: 75px;
}

.owl-theme .owl-controls
{
    display: none;
}

.lancamento-cabecalho,
.imovel-cabecalho
{
    font-style: italic;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgba(228, 228, 228,1) 50%, rgba(216, 216, 216,1) 51%, rgba(254,254,254,1) 100%);
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgba(228, 228, 228,1) 50%, rgba(216, 216, 216,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgba(228, 228, 228,1) 50%, rgba(216, 216, 216,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgba(228, 228, 228,1) 50%, rgba(216, 216, 216,1) 51%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 0%, rgb(228, 228, 228) 50%, rgb(216, 216, 216) 51%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: -1px 7px 23px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px 7px 23px 0px rgba(0,0,0,0.52);
    box-shadow: -1px 7px 23px 0px rgba(0, 0, 0, 0.52);
    margin-bottom: 25px;
}

.lancamento-cabecalho h3,
.imovel-cabecalho h1
{
    font-weight: 700;
    margin-top: 0px;
    font-size: 27px;
}

.lancamento-cabecalho h3
{
    font-size: 18px;
}

#section-fotos a img
{
    width: 100%;
    height: 86px;
}