.imoveis
{
    margin-top: 45px;
    margin-bottom: 35px;
}

.imoveis hr
{
    width: 7%;
    border-top: 3px solid #0a2444;
    margin-bottom: 35px;
}

.imoveis figure
{
    //height: 230px;
}

.imoveis figure img
{
    height: 350px;
    width: 100%;
}

.imoveis figure figcaption
{
    background-color: rgba(27, 55, 77, 0.82);
    position: absolute;
    margin-top: -80px;
    height: 80px;
    width: 95%;
}

.imoveis figure figcaption p
{
    color: #fff;
    font-size: 11px;
}

.imoveis figure figcaption:last-child
{
    padding-top: 15px;
}

.imoveis figure figcaption h4,
.imoveis figure figcaption small
{
    padding-left: 10px;
}

.imoveis figure figcaption h4
{
    margin-top: 3px;
}

.imoveis figure figcaption h4,
.imoveis figure figcaption small
{
    color: #fff;
    font-style: italic;
    font-size: 12px;
}

.imoveis .imovel
{
    margin-bottom: 15px;
    margin-top: 15px;
}

#pagination
{
    margin-bottom: 40px;
}